
@import 'var';


$height:33px;

/* 顶部*/
.topnav {
    width:100%;
    min-width:1200px;
    height:$height;
    background:#F2F2F2;
    position:relative;
    border-bottom:1px solid #ddd;
    font-size:13px;
    ul:nth-child(1){
         float:left;
         li{
           padding:0 5px;
           span{height:$height;line-height:$height;}
           a{height:$height;line-height:$height; text-decoration:underline;
            color:black;
           }
            span{display:inline;margin-left:5px;
            }         
            .text{color:#EC3E7D;}
         }
    }
     ul:nth-child(2){
        float:right;   
        li{
           padding:0 10px; 
            a{
                display:block;
                height:$height;
                line-height:$height;
                text-decoration:none;
                color:black;
                i{padding:0 8px;color:#EC3E7D;
                font-size:13px;}
            }  
            &:hover span{
                color:#EC3E7D;
            }
          &:nth-child(1){position:relative;}
           &:nth-child(2){position:relative;}
        } 
        li:hover{ background:white;
           border-bottom:0.1px solid #ddd;
          }
        }
        li{float:left;}

      .erweima{
          img{
            top:$height;
           position:absolute; 
          display:none;    
        }
    }
    .zhanghu{
        position:absolute;
        z-index:99;background:white;box-shadow:3px 2px 4px #ccc,-3px 2px 4px #ccc;
        display:none;
        left:1px;
       p{display:block;width:130px;height:25px;font-size:12px;line-height:25px;padding-left:37px;
            a:hover{color:#EC3E7D;}
       }
    }
    .mycar{
      position:absolute;
     box-shadow:3px 2px 4px #ccc,-3px 2px 4px #ccc;
      width:300px;
      height:85px;
      left:-1px;
      z-index:99;
      background:white;
      padding-left:100px;
      padding-top:20px;
      display:none;
    }
    
}



/* 头部*/
.header{
    width:100%;
    min-width:1200px;
    padding-top:42px;
    img{height:42px; width:170px;float:left;}
    .hc{width:480px;
        height:80px;
       float:left;transform:translateX(200px);
      form {
       .insert{display:block;width:346px;height:36px;border:2px solid #EC3E7D;
        float:left;
        input{
            border:0 none;width:342px;height:32px;
          } 
        }
         button{
            display:block;width:90px;height:36px;
               background:#EC3E7D;
            border:0 none;
            color:white;
            float:left;
      }
        
      }
      ul{
          li{
            float:left;
            margin-top:8px;
            span{padding:0 14px 0 12px;color:#9999A5;border-left:1px solid #9999A5;font-size:13px;
              &:hover{color:#EC3E7D;}}
            &:nth-child(1) span{border-left:0 none;}
            a{text-decoration:none;}
          }

      }
    }

}

/* 导航条*/
.nav{
    width:100%;
    min-width:1200px;

    ul {

       li{
        float:left;
        a{text-decoration:none;
            color:black;
        span{
            padding:9px 24px;
            line-height:36px;
        }
        i{color:#D9D9D9;}
        }
        &:nth-child(2) {
          padding:0 24px;
          height:36px;
          a{ font-size:0px;}
          span{
            padding:0 0;
          }
        }
        &:nth-child(1){
         width:160px;
         line-height:36px;
         font-weight:700;
         background:#333333;
         i{padding:0 18px;color:white;}
         a{
            color:white;
         }
       }
       &:nth-child(5){
        background:url('../img/img1/top_hot_icon.png') no-repeat 79px 0;
       }
       &:nth-child(7){
        background:url('../img/img1/top_hot_icon.png') no-repeat 107px 0;
       }
      &:nth-child(9){
            position:relative;
           i{color:black;font-size:12px;}
           &:hover{i{color:#EC3E7D;}} 
       }
      &:hover span{color:#EC3E7D;}
       } 
    }
    .allbrand{
      width:350px;
      position:absolute;
      background:white;left:-10px;top:36px;
      display:none;
      z-index:99;
      h5{
             background:#ddd;height:30px;line-height:30px;padding-left:20px;color:#EC3E7D;
        }
    }
     .imb1{  
        width:162px;
        height:250px;
        float:left;
        p:hover a{color:#EC3E7D;}
        p{display:block;height:22px;width:180px;line-height:22px;padding-left:20px;font-size:12px; }
        h4{font-size:14px;border-top:2px solid #ddd;width:120px;padding-top:20px;margin-left:20px;margin-top:20px;font-weight:700;text-align:center;}
      } 
      .imb2{width:182px;height:250px;float:left;padding-top:6px;
        img{border:1px solid #ccc;display:inline-block;opacity:0.8;
          &:hover{border-color:#EC3E7D;opacity:1;}

        }
      }
    }


/* 轮播图*/
.banner{
  position:relative;
  width:100%;
  min-width:1200px;
  height:420px;
  overflow:hidden;
  .banul{
      li{
        position:absolute;
        z-index:-99;
        display:none;
        &:nth-child(1){
               display:block;
        }
      }
    } 

    /* 左边三级导航条*/
  .navleft{
        width:160px;
        height:420px;
        background:#FA3778;
        position:absolute;
         >ul{
            >li{
                   border-top:1px  dotted white;
                >a{
                   display:block;
                   height:50px;
                   line-height:50px;
                   text-decoration:none;
                   color:white;
                   >span{padding-left:25px;}
                }
            &:nth-child(2) span{padding-left:52px;}
            &:nth-child(3) span{padding-left:52px;} 
                 i{
                      display:inline-block;
                      width:50px;
                      height:40px;
                      margin-top:3px;
                      float:left;
                    } 
                     &:nth-child(1){
                        >a{float:left;}
                        i{background:url('../img/img1/navleft2.png') no-repeat 11px 0;} 
                    }
                    &:nth-child(1):hover {
                        background:white; 
                     >a{
                        color:#FA3778;
                      }
                        i{
                      background:url('../img/img1/navleft1.png') no-repeat 11px 0; 
                       }
                     } 
                 
                         &:nth-child(2){
                             >a{float:left;}
                              i{
                            background:url('../img/img1/navleft2.png') no-repeat 11px -33px;
                            } 
                         }
                         &:nth-child(2):hover {
                            background:white; 
                          >a{
                            color:#FA3778;
                          }
                          i{
                         background:url('../img/img1/navleft1.png') no-repeat 11px -33px;
                            
                          }
                        } 

                         &:nth-child(3){
                             >a{float:left;}
                              i{
                            background:url('../img/img1/navleft2.png') no-repeat 11px -66px;
                            } 
                         }
                         &:nth-child(3):hover {
                            background:white; 
                          >a{
                            color:#FA3778;
                          }
                          i{
                         background:url('../img/img1/navleft1.png') no-repeat 11px -66px;
                            
                          }
                        } 

                         &:nth-child(4){
                             >a{float:left;}
                              i{
                            background:url('../img/img1/navleft2.png') no-repeat 11px -99px;
                            } 
                         }
                         &:nth-child(4):hover {
                            background:white; 
                          >a{
                            color:#FA3778;
                          }
                          i{
                         background:url('../img/img1/navleft1.png') no-repeat 11px -99px;
                            
                          }
                        } 

                 

                     &:nth-child(5){
                         >a{float:left;}
                          i{
                        background:url('../img/img1/navleft2.png') no-repeat 11px -132px;
                        } 
                     }
                     &:nth-child(5):hover {
                        background:white; 
                      >a{
                        color:#FA3778;
                      }
                      i{
                     background:url('../img/img1/navleft1.png') no-repeat 11px -132px;
                        
                      }
                    } 

                  &:nth-child(6){
                      >a{float:left;}
                       i{
                     background:url('../img/img1/navleft2.png') no-repeat 11px -165px;
                     } 
                  }
                  &:nth-child(6):hover {
                     background:white; 
                   >a{
                     color:#FA3778;
                   }
                   i{
                  background:url('../img/img1/navleft1.png') no-repeat 11px -165px;
                     
                   }
                 }  


                  &:nth-child(7){
                      >a{float:left;}
                       i{
                     background:url('../img/img1/navleft2.png') no-repeat 11px  -198px;
                     } 
                  }
                  &:nth-child(7):hover {
                     background:white; 
                   >a{
                     color:#FA3778;
                   }
                   i{
                  background:url('../img/img1/navleft1.png') no-repeat 11px  -198px;
                     
                   }
                 }  

                  &:nth-child(8){
                      >a{float:left;}
                       i{
                     background:url('../img/img1/navleft2.png') no-repeat 11px  -231px;
                     } 
                  }
                  &:nth-child(8):hover {
                     background:white; 
                   >a{
                     color:#FA3778;
                   }
                   i{
                  background:url('../img/img1/navleft1.png') no-repeat 11px  -231px;
                     
                   }
                 }  

                  &:nth-child(9){
                      >a{float:left;}
                       i{
                     background:url('../img/img1/navleft2.png') no-repeat 11px  -264px;
                     } 
                  }
                  &:nth-child(9):hover {
                     background:white; 
                   >a{
                     color:#FA3778;
                   }
                   i{
                  background:url('../img/img1/navleft1.png') no-repeat 11px -264px;
                     
                   }
                 }      
            }
        }   
            #face,#cai,#xiang,#mei,#xiong,#huli,#man,#yinger{
              position:absolute;
              z-index:2;
              border:1px solid #EC3E7D;
              background:white;
              left:160px;
              display:none;
              >div{  
                    margin-top:10px;
                    padding-left:15px;
                   >h1{font-size:12px;font-weight:700;}
                   >a{padding-right:10px;font-size:12px;text-decoration:none;
                    &:hover{color:#EC3E7D;}
                   }
                   .mo{
                    color:#EC3E7D;
                   }
                }  
            }
          #face{
            width:310px;
            height:400px;
          }  
          #cai,#huli{ width:310px;
              height:150px;}
          
         #xiang,#mei,#xiong,#man,#yinger{ width:310px;
              height:63px;}
}

 /*轮播图页码*/
  .bpage{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:15px;
    z-index:1;
    li{width:18px;height:18px;border-radius:50%;
      background:#868695;
      float:left;margin:0 10px;border:2px solid #ccc;
      &:hover{cursor:pointer;}
     }
      .active{background:#EC3E7D;  transition:all 0.8s;
    }
    }
  }
 
 /*滚动广告*/
 .announcement{
    width:100%;
    min-width:1200px;
    background:#ececec;
    height:20px;
  .container{
     position:relative;
     height:20px;
     overflow:hidden;
 p{color:#EC3E7D;font-weight:700;font-size:12px;line-height:20px;width:80px;display:block;
   img{
     margin-left:10px;
     margin-right:10px;

   }
 }

 >ul{
   position:absolute;
    left:80px;
    top:0;
    a{
      font-size:12px;
     text-decoration:none;
     &:hover{color:#EC3E7D;}
    }
 }
  }
 
 }          

/*承诺免邮*/
 #promise{
  background:#F2F2F2;
  width:100%;
  min-width:1200px;
    .container{
       div{

         width:170px;height:126px;float:left;
         margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat 0 57px;
         padding-left:48px;
         &:nth-child(2){
             margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -54px 57px;
         }
         &:nth-child(3){
             margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -112px 57px;
         }
         &:nth-child(4){
             margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -177px 57px;
         }
          &:nth-child(5){
             margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -232px 57px;
         }
       }
       h4{padding:53px 0 0 0;font-size:18px; background:#F2F2F2;}
       p{font-size:13px;padding-top:8px;color:#999999;background:#F2F2F2;}
    }
 }

/*每日必看*/
.mustlook{ 
      width:100%;
      min-width:1200px;
      background:#F2F2F2;   
    a{   display:block;
         float:left; 
     &:nth-child(even){
      margin-left:100px;
     }   
   }    
}
.mustlook  .container{
  position:relative;
}
  .lookheader{ margin:20px 0 35px 0 ;overflow:hidden;}
            
   #show{
           width:534px;height:262px;
            margin-bottom:12px;
          &:hover{
              box-shadow:0  5px 10px #ccc,0 5px 10px #ddd;
         }
     
           .look1{float:left;}
          .look2{
            background:white;
            position:relative;
            float:left;
            width:234px;height:260px;
             }
        }
           
  .mustlook  p{
            text-align:center;
          &:nth-child(1){margin-top:60px;font-size:22px;color:#EC3E7D;}
          &:nth-child(2){margin-top:10px;font-size:17px;color:#5a5a5a;}
          &:nth-child(3){margin-top:5px;font-size:13px;color:#5a5a5a;}
        }    


  .mustlook h4{
      position:absolute;
      left:67px;bottom:50px;
      display:block;width:108px;height:32px;background:#EC3E7D;line-height:32px;text-align:center;color:#fff;font-size:16px;
      &:hover{background:#c53265;}
    }


/*限时抢购*/
.limitsell{ 
  width:100%;
  min-width:1200px;
  background:#F2F2F2;
      h1{
        display:block;width:160px;border-radius:8px;background:#fc3f83;
        height:36px;line-height:36px;
        margin:0 auto;font-size:16px;text-align:center;
        a{color:white;text-decoration:none;}
        }
}

.linheader{overflow:hidden;margin:30px 0; h5{
  text-align:center;font-size:17px;margin-top:10px;
  }}




 #limit{
           width:1171px;height:360px;
            margin-bottom:12px;
          &:hover{
              box-shadow:0  5px 10px #ccc,0 5px 10px #ddd;
         }
     
           .limit1{float:left;
           }
          .limit2 , .limit1{
            background:white;
            position:relative;
            float:left;
            width:585px;height:360px;
             }
        }
 #limit {
   margin-bottom:30px;
.limit3{
       position:relative;
     span{  display:block;
              width:68px;
              height:68px;
              line-height:68px;
              background:#EC3E7D;
              border-radius:50%;
              overflow:hidden;
              position:absolute;
              left:15px;
              top:15px;
              text-align:center;
              color:white;
              font-size:23px;
              font-weight:700;
            }
     }
  } 
.limit2{
  h4{height:24px;line-height:24px;padding:0 10px;margin:40px 0 0 40px;}
  p{margin:0 50px;
    &:nth-child(2){font-size:18px;
      color:#222;
      i{font-size:40px;color:#d9d9d9;}
    }
    &:nth-child(3){
      margin-top:30px;
      margin-bottom:25px;
      span:nth-child(1){color:#ee9c23;}
      span:nth-child(2){color:#666;}
    }
 &:nth-child(4){
      span:nth-child(1){color:#fc3f83;line-height:30px;font-size:32px;}
      span:nth-child(2){color:#999;padding-left:10px;}
    }
  &:nth-child(5){
     margin-top:19px;color:#999;
    }
  }
   h3{display:block;width:92px;height:32px;background:#e93b78;color:#fff;font-size:16px;line-height:32px;text-align:center
    ;position:absolute;right:56px;bottom:40px;
    &:hover{background:#c53265;}}
}



/*销售排行榜*/
.sellranking {
  width:100%;
  min-width:1200px;
  background:#F2F2F2;
  .container{
        overflow:hidden;
       .ranking{margin:50px 0 30px 0;
             overflow:hidden;
       }
  }
}


.franking{float:left;
  &:nth-child(1){
       margin-right:12px;

  }
    &:nth-child(2){
       margin-right:12px;

  }
  h3{text-align:center;height:64px;line-height:64px;font-size:22px;border-top:2px solid #fc3f83;background:white;}
}

 .ra1{
           width:382px;height:101px;
           .franking1{float:left;
           }
          .franking2{
            background:white;
            position:relative;
            float:left;
            width:272px;height:80px;
             }
        }
 .ra1 {
  background:white;
  border-top:1px solid #ddd;
.franking3{
       position:relative;
       img:nth-child(1){position:absolute;}
       img:nth-child(2){margin-top:7px;}
     }
  } 
.franking2{
  p{
  &:nth-child(1){font-size:13px;
      margin-top:10px;
      color:#222;}
  &:nth-child(2){
      margin-top:20px;
      span:nth-child(1){color:#fc3f83;font-size:16px;}
      span:nth-child(2){color:#999;padding-left:10px;font-size:12px;}
      span:nth-child(3){padding-left:142px; color:#999;font-size:12px;}
    }
  }
}


/*新品*/
.newgoods{
  width:100%;
  min-width:1200px;
    background:#F2F2F2;
    padding-bottom:15px;
  .container{
    .newheader{margin:50px 0 30px 0;    overflow:hidden;}
  }
}

.nw{
  .nt{
    width:262px;height:289px;
    position:relative;
    p{
       position:absolute;
      span:nth-child(1){display:block;width:40px;height:40px;font-size:13px;line-height:16px;background:#80b53f;text-align:center;
        padding-top:5px;color:white;}
    }
    >span{position:absolute;color:#999;line-height:20px;height:20px;font-size:12px;right:21px;
      i{padding-right:5px;}
      }
    }
}

.nw{
    #nt{
      width:262px;
      margin:15px 40px 0  0;
      padding:10px; 
      border:1px solid #fff;
      float:left;
      background:white;
      &:nth-child(4){margin-right:0;}
       &:nth-child(8){margin-right:0;}
      &:hover{
        border:1px solid #fc3f83;
        transition:all 0.5s;
      }
    }
    .title{
         width:262px;

         margin-top:15px;
        a{
          font-size:13px;
          text-decoration:none;
          color:#222;
          }
        p:nth-child(2){
          margin-top:18px;
         span {
             &:nth-child(1){
             color:#fc3f83;
             font-size:18px;
             padding-right:15px;
             }
             &:nth-child(2){
             color:#999;
             font-size:12px;
             padding-top:10px;
             }
          }
        }
    }
}



/*footer*/
#footer{
    .promise{
      width:100%;
      min-width:1200px;
      background:white;
        .container{
           div{

             width:170px;height:126px;float:left;
             margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat 0 57px;
             padding-left:48px;
             &:nth-child(2){
                 margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -54px 57px;
             }
             &:nth-child(3){
                 margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -112px 57px;
             }
             &:nth-child(4){
                 margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -177px 57px;
             }
              &:nth-child(5){
                 margin:0 32px;background:url("../img/img1/promise_icon.png") no-repeat -232px 57px;
             }
           }
           h4{padding:53px 0 0 0;font-size:15px; background:white;;}
           p{font-size:12px;padding-top:8px;color:#999999;background:white;;}
        }
     }
}

#footer{
  .mes{
    ul{width:90px;height:170px;float:left;margin-right:90px;
      li{
        a{height:25px;line-height:25px;text-decoration:none;color:#999;font-size:12px;}
        &:nth-child(1) a{font-size:13px;font-weight:700;color:#222;}
      }
    &:last-child{
      width:256px;height:170px;margin-right:0;
      li{float:left;
        >p{text-align:center;font-size:12px;font-weight:700;margin-bottom:3px;}
      img{width:128px;height:128px;}}
      }}
  }
}

#footer{
  .tubiao{
     margin:20px 0 20px 0;
     li{float:left;
      a{display:block;height:60px;width:103px;}
      background:url(../img/img1/tubiao.jpg) no-repeat 0 0;
      &:nth-child(2){
         background:url(../img/img1/tubiao.jpg) no-repeat -103px 0;
      }
      &:nth-child(3){
         background:url(../img/img1/tubiao.jpg) no-repeat -205px 0;
      }
      &:nth-child(4){
         background:url(../img/img1/tubiao.jpg) no-repeat -293px 0;
      }
      &:nth-child(5){
         background:url(../img/img1/tubiao.jpg) no-repeat -384px 0;
      }
      &:nth-child(6){
         background:url(../img/img1/tubiao.jpg) no-repeat -480px 0;
      }
      &:nth-child(7){
         background:url(../img/img1/tubiao.jpg) no-repeat -580px 0;
      }
      &:nth-child(8){
         background:url(../img/img1/tubiao.jpg) no-repeat -680px 0;
      }
     }
  }
}


#footer{
  .last{
    width:100%;
    min-width:1200px;
    height:70px;
    background:#000;
    ul{
      padding:10px 0 20px 0;
    li{float:left;
      a{display:block;height:24px;line-height:24px;font-size:12px;padding:2px 5px;color:white;text-decoration:none;
        span{padding-right:11px;border-right:1px solid white;}
      }
    }
  }
  h6{display:block;color:white;padding-left:3px;}
  }
}

/*右边固定的导航条*/
.rightnav{
  position:relative;
  min-height:919px;
  width:30px;height:100%;background:#4c4c4c;position:fixed;right:0;top:0;
    #me,#shou,#zuji,#rightkefu, #righterweima,#bcar{color:white;width:80px;height:30px;background:#4c4c4c;position:absolute;left:-100px;line-height:30px;text-align:center;opacity:0;z-index:4;
      i{position:absolute;right:-10px;color:#4c4c4c;}
    }
     #me{bottom:710px;}  
     #shou{ bottom:480px;}
     #zuji{ bottom:430px;}
     #rightkefu{bottom:300px;}
     #righterweima{
      bottom:250px;
      width:100px;height:100px;
      left:-140px;
     }
     #bcar{width:230px;height:919px;background:white;z-index:5px;left:-230px;z-index:3;
       box-shadow: -5px 0 5px #ccc;opacity:1;display:none;
       h4{border-bottom:1px solid #ddd;height:41px;line-height:41px;text-align:left;padding-left:20px;font-size:14px;display:block;
        span:nth-child(1){color:black;display:block;width:45px;height:40px;float:left;}
        span:nth-child(2){color:black;display:block;border:1px solid #222;width:20px;height:20px;border-radius:50%;line-height:20px;text-align:center;float:left;margin:10px 0 10px 128px;
          &:hover{cursor:pointer;}
        }
       }
       .text{color:#222;padding:20px 10px;}
      
     }

    p{  
      display:block;
      width:30px;
      text-align:center;
      &:hover{background:#E93B78;}
      a{color:white;
        text-decoration:none;
        i{color:#c69a62;font-size:16px;}
      }
    }
     .me{
      position:absolute;
      bottom:710px;
      h5{display:block;color:white;}
    }
     .bcar{
      bottom:530px;
      border-top:1px solid #ccc;
      border-bottom:1px solid #ccc;
      padding:8px  0 8px 0;

      &:hover{cursor:pointer;}
      position:absolute;
      i{color:#c69a62;font-size:16px;}
      span{
        color:white;
        font-size:12px;
         b{color:white;display:inline-block;width:18px;height:26px;background:#ec3e7d;line-height:26px;border-radius:10px;font-size:13px;
        } 
      }
    }
     .shou{
      position:absolute;
      bottom:490px;
    }
     .zuji{
      position:absolute;
      bottom:430px;
    }
    .rightkefu{
      position:absolute;
      bottom:300px;
    }
   .righterweima{position:absolute;
      bottom:250px;}
  .backTop{
      position:absolute;
      bottom:200px;
       i{color:#c69a62;font-size:24px;}
      &:hover{cursor:pointer;background:#4c4c4c;}
  }  
    
}

.lnav{
  width:100px;
  background:white;
  position:absolute;
  top:87px;
  left:-110px;
  ul{
    li{
      padding-left:20px;
      height:55px;width:100px;
      border:1px solid white;
      &:hover{background:#e93b78;
              cursor:pointer;
          span{
             color:white;
          }
          i{
            color:white;
          }}
    a{height:55px;text-align:center;line-height:55px;color:#222;text-decoration:none;
    span{padding-left:7px;}
    }
    }

  }
  
}

.fixed{
  width:100px;
  background:white;
  left:50px;
  position:fixed;
  z-index:10;
  ul{
    li{
      padding-left:20px;
      height:55px;width:100px;
    a{display:block;height:55px;text-align:center;line-height:55px;color:#222;text-decoration:none;
      span{padding-left:7px;}
    }
    }
  }
}

.bianse{
  background:#e93b78;
  span{
     color:white;
  }
  i{
    color:white;
  }
}