@charset "UTF-8";
/* 顶部*/
.topnav { width: 100%; min-width: 1200px; height: 33px; background: #F2F2F2; position: relative; border-bottom: 1px solid #ddd; font-size: 13px; }

.topnav ul:nth-child(1) { float: left; }

.topnav ul:nth-child(1) li { padding: 0 5px; }

.topnav ul:nth-child(1) li span { height: 33px; line-height: 33px; }

.topnav ul:nth-child(1) li a { height: 33px; line-height: 33px; text-decoration: underline; color: black; }

.topnav ul:nth-child(1) li span { display: inline; margin-left: 5px; }

.topnav ul:nth-child(1) li .text { color: #EC3E7D; }

.topnav ul:nth-child(2) { float: right; }

.topnav ul:nth-child(2) li { padding: 0 10px; }

.topnav ul:nth-child(2) li a { display: block; height: 33px; line-height: 33px; text-decoration: none; color: black; }

.topnav ul:nth-child(2) li a i { padding: 0 8px; color: #EC3E7D; font-size: 13px; }

.topnav ul:nth-child(2) li:hover span { color: #EC3E7D; }

.topnav ul:nth-child(2) li:nth-child(1) { position: relative; }

.topnav ul:nth-child(2) li:nth-child(2) { position: relative; }

.topnav ul:nth-child(2) li:hover { background: white; border-bottom: 0.1px solid #ddd; }

.topnav li { float: left; }

.topnav .erweima img { top: 33px; position: absolute; display: none; }

.topnav .zhanghu { position: absolute; z-index: 99; background: white; box-shadow: 3px 2px 4px #ccc,-3px 2px 4px #ccc; display: none; left: 1px; }

.topnav .zhanghu p { display: block; width: 130px; height: 25px; font-size: 12px; line-height: 25px; padding-left: 37px; }

.topnav .zhanghu p a:hover { color: #EC3E7D; }

.topnav .mycar { position: absolute; box-shadow: 3px 2px 4px #ccc,-3px 2px 4px #ccc; width: 300px; height: 85px; left: -1px; z-index: 99; background: white; padding-left: 100px; padding-top: 20px; display: none; }

/* 头部*/
.header { width: 100%; min-width: 1200px; padding-top: 42px; }

.header img { height: 42px; width: 170px; float: left; }

.header .hc { width: 480px; height: 80px; float: left; transform: translateX(200px); }

.header .hc form .insert { display: block; width: 346px; height: 36px; border: 2px solid #EC3E7D; float: left; }

.header .hc form .insert input { border: 0 none; width: 342px; height: 32px; }

.header .hc form button { display: block; width: 90px; height: 36px; background: #EC3E7D; border: 0 none; color: white; float: left; }

.header .hc ul li { float: left; margin-top: 8px; }

.header .hc ul li span { padding: 0 14px 0 12px; color: #9999A5; border-left: 1px solid #9999A5; font-size: 13px; }

.header .hc ul li span:hover { color: #EC3E7D; }

.header .hc ul li:nth-child(1) span { border-left: 0 none; }

.header .hc ul li a { text-decoration: none; }

/* 导航条*/
.nav { width: 100%; min-width: 1200px; }

.nav ul li { float: left; }

.nav ul li a { text-decoration: none; color: black; }

.nav ul li a span { padding: 9px 24px; line-height: 36px; }

.nav ul li a i { color: #D9D9D9; }

.nav ul li:nth-child(2) { padding: 0 24px; height: 36px; }

.nav ul li:nth-child(2) a { font-size: 0px; }

.nav ul li:nth-child(2) span { padding: 0 0; }

.nav ul li:nth-child(1) { width: 160px; line-height: 36px; font-weight: 700; background: #333333; }

.nav ul li:nth-child(1) i { padding: 0 18px; color: white; }

.nav ul li:nth-child(1) a { color: white; }

.nav ul li:nth-child(5) { background: url("../img/img1/top_hot_icon.png") no-repeat 79px 0; }

.nav ul li:nth-child(7) { background: url("../img/img1/top_hot_icon.png") no-repeat 107px 0; }

.nav ul li:nth-child(9) { position: relative; }

.nav ul li:nth-child(9) i { color: black; font-size: 12px; }

.nav ul li:nth-child(9):hover i { color: #EC3E7D; }

.nav ul li:hover span { color: #EC3E7D; }

.nav .allbrand { width: 350px; position: absolute; background: white; left: 0; top: 36px; display: none; z-index: 99; }

.nav .allbrand h5 { background: #ddd; height: 30px; line-height: 30px; padding-left: 20px; color: #EC3E7D; }

.nav .imb1 { width: 162px; height: 250px; float: left; }

.nav .imb1 p:hover a { color: #EC3E7D; }

.nav .imb1 p { display: block; height: 22px; width: 180px; line-height: 22px; padding-left: 20px; font-size: 12px; }

.nav .imb1 h4 { font-size: 14px; border-top: 2px solid #ddd; width: 120px; padding-top: 20px; margin-left: 20px; margin-top: 20px; font-weight: 700; text-align: center; }

.nav .imb2 { width: 182px; height: 250px; float: left; padding-top: 6px; }

.nav .imb2 img { border: 1px solid #ccc; display: inline-block; opacity: 0.8; }

.nav .imb2 img:hover { border-color: #EC3E7D; opacity: 1; }

/* 轮播图*/
.banner { position: relative; width: 100%; min-width: 1200px; height: 420px; overflow: hidden; /* 左边三级导航条*/ /*轮播图页码*/ }

.banner .banul li { position: absolute; z-index: -99; display: none; }

.banner .banul li:nth-child(1) { display: block; }

.banner .navleft { width: 160px; height: 420px; background: #FA3778; position: absolute; }

.banner .navleft > ul > li { border-top: 1px  dotted white; }

.banner .navleft > ul > li > a { display: block; height: 50px; line-height: 50px; text-decoration: none; color: white; }

.banner .navleft > ul > li > a > span { padding-left: 25px; }

.banner .navleft > ul > li:nth-child(2) span { padding-left: 52px; }

.banner .navleft > ul > li:nth-child(3) span { padding-left: 52px; }

.banner .navleft > ul > li i { display: inline-block; width: 50px; height: 40px; margin-top: 3px; float: left; }

.banner .navleft > ul > li:nth-child(1) > a { float: left; }

.banner .navleft > ul > li:nth-child(1) i { background: url("../img/img1/navleft2.png") no-repeat 11px 0; }

.banner .navleft > ul > li:nth-child(1):hover { background: white; }

.banner .navleft > ul > li:nth-child(1):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(1):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px 0; }

.banner .navleft > ul > li:nth-child(2) > a { float: left; }

.banner .navleft > ul > li:nth-child(2) i { background: url("../img/img1/navleft2.png") no-repeat 11px -33px; }

.banner .navleft > ul > li:nth-child(2):hover { background: white; }

.banner .navleft > ul > li:nth-child(2):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(2):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -33px; }

.banner .navleft > ul > li:nth-child(3) > a { float: left; }

.banner .navleft > ul > li:nth-child(3) i { background: url("../img/img1/navleft2.png") no-repeat 11px -66px; }

.banner .navleft > ul > li:nth-child(3):hover { background: white; }

.banner .navleft > ul > li:nth-child(3):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(3):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -66px; }

.banner .navleft > ul > li:nth-child(4) > a { float: left; }

.banner .navleft > ul > li:nth-child(4) i { background: url("../img/img1/navleft2.png") no-repeat 11px -99px; }

.banner .navleft > ul > li:nth-child(4):hover { background: white; }

.banner .navleft > ul > li:nth-child(4):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(4):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -99px; }

.banner .navleft > ul > li:nth-child(5) > a { float: left; }

.banner .navleft > ul > li:nth-child(5) i { background: url("../img/img1/navleft2.png") no-repeat 11px -132px; }

.banner .navleft > ul > li:nth-child(5):hover { background: white; }

.banner .navleft > ul > li:nth-child(5):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(5):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -132px; }

.banner .navleft > ul > li:nth-child(6) > a { float: left; }

.banner .navleft > ul > li:nth-child(6) i { background: url("../img/img1/navleft2.png") no-repeat 11px -165px; }

.banner .navleft > ul > li:nth-child(6):hover { background: white; }

.banner .navleft > ul > li:nth-child(6):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(6):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -165px; }

.banner .navleft > ul > li:nth-child(7) > a { float: left; }

.banner .navleft > ul > li:nth-child(7) i { background: url("../img/img1/navleft2.png") no-repeat 11px -198px; }

.banner .navleft > ul > li:nth-child(7):hover { background: white; }

.banner .navleft > ul > li:nth-child(7):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(7):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -198px; }

.banner .navleft > ul > li:nth-child(8) > a { float: left; }

.banner .navleft > ul > li:nth-child(8) i { background: url("../img/img1/navleft2.png") no-repeat 11px -231px; }

.banner .navleft > ul > li:nth-child(8):hover { background: white; }

.banner .navleft > ul > li:nth-child(8):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(8):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -231px; }

.banner .navleft > ul > li:nth-child(9) > a { float: left; }

.banner .navleft > ul > li:nth-child(9) i { background: url("../img/img1/navleft2.png") no-repeat 11px -264px; }

.banner .navleft > ul > li:nth-child(9):hover { background: white; }

.banner .navleft > ul > li:nth-child(9):hover > a { color: #FA3778; }

.banner .navleft > ul > li:nth-child(9):hover i { background: url("../img/img1/navleft1.png") no-repeat 11px -264px; }

.banner .navleft #face, .banner .navleft #cai, .banner .navleft #xiang, .banner .navleft #mei, .banner .navleft #xiong, .banner .navleft #huli, .banner .navleft #man, .banner .navleft #yinger { position: absolute; z-index: 2; border: 1px solid #EC3E7D; background: white; left: 160px; display: none; }

.banner .navleft #face > div, .banner .navleft #cai > div, .banner .navleft #xiang > div, .banner .navleft #mei > div, .banner .navleft #xiong > div, .banner .navleft #huli > div, .banner .navleft #man > div, .banner .navleft #yinger > div { margin-top: 10px; padding-left: 15px; }

.banner .navleft #face > div > h1, .banner .navleft #cai > div > h1, .banner .navleft #xiang > div > h1, .banner .navleft #mei > div > h1, .banner .navleft #xiong > div > h1, .banner .navleft #huli > div > h1, .banner .navleft #man > div > h1, .banner .navleft #yinger > div > h1 { font-size: 12px; font-weight: 700; }

.banner .navleft #face > div > a, .banner .navleft #cai > div > a, .banner .navleft #xiang > div > a, .banner .navleft #mei > div > a, .banner .navleft #xiong > div > a, .banner .navleft #huli > div > a, .banner .navleft #man > div > a, .banner .navleft #yinger > div > a { padding-right: 10px; font-size: 12px; text-decoration: none; }

.banner .navleft #face > div > a:hover, .banner .navleft #cai > div > a:hover, .banner .navleft #xiang > div > a:hover, .banner .navleft #mei > div > a:hover, .banner .navleft #xiong > div > a:hover, .banner .navleft #huli > div > a:hover, .banner .navleft #man > div > a:hover, .banner .navleft #yinger > div > a:hover { color: #EC3E7D; }

.banner .navleft #face > div .mo, .banner .navleft #cai > div .mo, .banner .navleft #xiang > div .mo, .banner .navleft #mei > div .mo, .banner .navleft #xiong > div .mo, .banner .navleft #huli > div .mo, .banner .navleft #man > div .mo, .banner .navleft #yinger > div .mo { color: #EC3E7D; }

.banner .navleft #face { width: 310px; height: 400px; }

.banner .navleft #cai, .banner .navleft #huli { width: 310px; height: 150px; }

.banner .navleft #xiang, .banner .navleft #mei, .banner .navleft #xiong, .banner .navleft #man, .banner .navleft #yinger { width: 310px; height: 63px; }

.banner .bpage { position: absolute; left: 50%; transform: translateX(-50%); bottom: 15px; z-index: 1; }

.banner .bpage li { width: 18px; height: 18px; border-radius: 50%; background: #868695; float: left; margin: 0 10px; border: 2px solid #ccc; }

.banner .bpage li:hover { cursor: pointer; }

.banner .bpage .active { background: #EC3E7D; transition: all 0.8s; }

/*滚动广告*/
.announcement { background: #ececec; height: 20px; }

.announcement .container { position: relative; height: 20px; overflow: hidden; }

.announcement .container p { color: #EC3E7D; font-weight: 700; font-size: 12px; line-height: 20px; width: 80px; display: block; }

.announcement .container p img { margin-left: 10px; margin-right: 10px; }

.announcement .container > ul { position: absolute; left: 80px; top: 0; }

.announcement .container > ul a { font-size: 12px; text-decoration: none; }

.announcement .container > ul a:hover { color: #EC3E7D; }

/*承诺免邮*/
#promise { background: #F2F2F2; }

#promise .container div { width: 170px; height: 126px; float: left; margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat 0 57px; padding-left: 48px; }

#promise .container div:nth-child(2) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -54px 57px; }

#promise .container div:nth-child(3) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -112px 57px; }

#promise .container div:nth-child(4) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -177px 57px; }

#promise .container div:nth-child(5) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -232px 57px; }

#promise .container h4 { padding: 53px 0 0 0; font-size: 18px; background: #F2F2F2; }

#promise .container p { font-size: 13px; padding-top: 8px; color: #999999; background: #F2F2F2; }

/*每日必看*/
.mustlook { background: #F2F2F2; }

.mustlook a { display: block; float: left; }

.mustlook a:nth-child(even) { margin-right: 100px; }

.mustlook .container { position: relative; }

.lookheader { margin: 20px 0 35px 0; overflow: hidden; }

#show { width: 534px; height: 262px; margin-bottom: 12px; }

#show:hover { box-shadow: 0  5px 10px #ccc,0 5px 10px #ddd; }

#show .look1 { float: left; }

#show .look2 { background: white; position: relative; float: left; width: 234px; height: 260px; }

.mustlook p { text-align: center; }

.mustlook p:nth-child(1) { margin-top: 60px; font-size: 22px; color: #EC3E7D; }

.mustlook p:nth-child(2) { margin-top: 10px; font-size: 17px; color: #5a5a5a; }

.mustlook p:nth-child(3) { margin-top: 5px; font-size: 13px; color: #5a5a5a; }

.mustlook h4 { position: absolute; left: 67px; bottom: 50px; display: block; width: 108px; height: 32px; background: #EC3E7D; line-height: 32px; text-align: center; color: #fff; font-size: 16px; }

.mustlook h4:hover { background: #c53265; }

/*限时抢购*/
.limitsell { background: #F2F2F2; }

.limitsell h1 { display: block; width: 160px; border-radius: 8px; background: #fc3f83; height: 36px; line-height: 36px; margin: 0 auto; font-size: 16px; text-align: center; }

.limitsell h1 a { color: white; text-decoration: none; }

.linheader { overflow: hidden; margin: 30px 0; }

.linheader h5 { text-align: center; font-size: 17px; margin-top: 10px; }

#limit { width: 1171px; height: 360px; margin-bottom: 12px; }

#limit:hover { box-shadow: 0  5px 10px #ccc,0 5px 10px #ddd; }

#limit .limit1 { float: left; }

#limit .limit2, #limit .limit1 { background: white; position: relative; float: left; width: 585px; height: 360px; }

#limit { margin-bottom: 30px; }

#limit .limit3 { position: relative; }

#limit .limit3 span { display: block; width: 68px; height: 68px; line-height: 68px; background: #EC3E7D; border-radius: 50%; overflow: hidden; position: absolute; left: 15px; top: 15px; text-align: center; color: white; font-size: 23px; font-weight: 700; }

.limit2 h4 { height: 24px; line-height: 24px; padding: 0 10px; margin: 40px 0 0 40px; }

.limit2 p { margin: 0 50px; }

.limit2 p:nth-child(2) { font-size: 18px; color: #222; }

.limit2 p:nth-child(2) i { font-size: 40px; color: #d9d9d9; }

.limit2 p:nth-child(3) { margin-top: 30px; margin-bottom: 25px; }

.limit2 p:nth-child(3) span:nth-child(1) { color: #ee9c23; }

.limit2 p:nth-child(3) span:nth-child(2) { color: #666; }

.limit2 p:nth-child(4) span:nth-child(1) { color: #fc3f83; line-height: 30px; font-size: 32px; }

.limit2 p:nth-child(4) span:nth-child(2) { color: #999; padding-left: 10px; }

.limit2 p:nth-child(5) { margin-top: 19px; color: #999; }

.limit2 h3 { display: block; width: 92px; height: 32px; background: #e93b78; color: #fff; font-size: 16px; line-height: 32px; text-align: center; position: absolute; right: 56px; bottom: 40px; }

.limit2 h3:hover { background: #c53265; }

/*销售排行榜*/
.sellranking { background: #F2F2F2; }

.sellranking .container { overflow: hidden; }

.sellranking .container .ranking { margin: 50px 0 30px 0; overflow: hidden; }

.franking { float: left; }

.franking:nth-child(1) { margin-right: 12px; }

.franking:nth-child(2) { margin-right: 12px; }

.franking h3 { text-align: center; height: 64px; line-height: 64px; font-size: 22px; border-top: 2px solid #fc3f83; background: white; }

.ra1 { width: 382px; height: 101px; }

.ra1 .franking1 { float: left; }

.ra1 .franking2 { background: white; position: relative; float: left; width: 272px; height: 80px; }

.ra1 { background: white; border-top: 1px solid #ddd; }

.ra1 .franking3 { position: relative; }

.ra1 .franking3 img:nth-child(1) { position: absolute; }

.ra1 .franking3 img:nth-child(2) { margin-top: 7px; }

.franking2 p:nth-child(1) { font-size: 13px; margin-top: 10px; color: #222; }

.franking2 p:nth-child(2) { margin-top: 20px; }

.franking2 p:nth-child(2) span:nth-child(1) { color: #fc3f83; font-size: 16px; }

.franking2 p:nth-child(2) span:nth-child(2) { color: #999; padding-left: 10px; font-size: 12px; }

.franking2 p:nth-child(2) span:nth-child(3) { padding-left: 142px; color: #999; font-size: 12px; }

/*新品*/
.newgoods { background: #F2F2F2; padding-bottom: 15px; }

.newgoods .container .newheader { margin: 50px 0 30px 0; overflow: hidden; }

.nw .nt { width: 262px; height: 289px; position: relative; }

.nw .nt p { position: absolute; }

.nw .nt p span:nth-child(1) { display: block; width: 40px; height: 40px; font-size: 13px; line-height: 16px; background: #80b53f; text-align: center; padding-top: 5px; color: white; }

.nw .nt > span { position: absolute; color: #999; line-height: 20px; height: 20px; font-size: 12px; right: 21px; }

.nw .nt > span i { padding-right: 5px; }

.nw #nt { width: 262px; margin: 15px 40px 0  0; padding: 10px; border: 1px solid #fff; float: left; background: white; }

.nw #nt:nth-child(4) { margin-right: 0; }

.nw #nt:nth-child(8) { margin-right: 0; }

.nw #nt:hover { border: 1px solid #fc3f83; transition: all 0.5s; }

.nw .title { width: 262px; margin-top: 15px; }

.nw .title a { font-size: 13px; text-decoration: none; color: #222; }

.nw .title p:nth-child(2) { margin-top: 18px; }

.nw .title p:nth-child(2) span:nth-child(1) { color: #fc3f83; font-size: 18px; padding-right: 15px; }

.nw .title p:nth-child(2) span:nth-child(2) { color: #999; font-size: 12px; padding-top: 10px; }

/*footer*/
#footer .promise { background: white; }

#footer .promise .container div { width: 170px; height: 126px; float: left; margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat 0 57px; padding-left: 48px; }

#footer .promise .container div:nth-child(2) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -54px 57px; }

#footer .promise .container div:nth-child(3) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -112px 57px; }

#footer .promise .container div:nth-child(4) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -177px 57px; }

#footer .promise .container div:nth-child(5) { margin: 0 32px; background: url("../img/img1/promise_icon.png") no-repeat -232px 57px; }

#footer .promise .container h4 { padding: 53px 0 0 0; font-size: 15px; background: white; }

#footer .promise .container p { font-size: 12px; padding-top: 8px; color: #999999; background: white; }

#footer .mes ul { width: 90px; height: 170px; float: left; margin-right: 90px; }

#footer .mes ul li a { height: 25px; line-height: 25px; text-decoration: none; color: #999; font-size: 12px; }

#footer .mes ul li:nth-child(1) a { font-size: 13px; font-weight: 700; color: #222; }

#footer .mes ul:last-child { width: 256px; height: 170px; margin-right: 0; }

#footer .mes ul:last-child li { float: left; }

#footer .mes ul:last-child li > p { text-align: center; font-size: 12px; font-weight: 700; margin-bottom: 3px; }

#footer .mes ul:last-child li img { width: 128px; height: 128px; }

#footer .tubiao { margin: 20px 0 20px 0; }

#footer .tubiao li { float: left; background: url(../img/img1/tubiao.jpg) no-repeat 0 0; }

#footer .tubiao li a { display: block; height: 60px; width: 103px; }

#footer .tubiao li:nth-child(2) { background: url(../img/img1/tubiao.jpg) no-repeat -103px 0; }

#footer .tubiao li:nth-child(3) { background: url(../img/img1/tubiao.jpg) no-repeat -205px 0; }

#footer .tubiao li:nth-child(4) { background: url(../img/img1/tubiao.jpg) no-repeat -293px 0; }

#footer .tubiao li:nth-child(5) { background: url(../img/img1/tubiao.jpg) no-repeat -384px 0; }

#footer .tubiao li:nth-child(6) { background: url(../img/img1/tubiao.jpg) no-repeat -480px 0; }

#footer .tubiao li:nth-child(7) { background: url(../img/img1/tubiao.jpg) no-repeat -580px 0; }

#footer .tubiao li:nth-child(8) { background: url(../img/img1/tubiao.jpg) no-repeat -680px 0; }

#footer .last { height: 70px; background: #000; }

#footer .last ul { padding: 10px 0 20px 0; }

#footer .last ul li { float: left; }

#footer .last ul li a { display: block; height: 24px; line-height: 24px; font-size: 12px; padding: 2px 5px; color: white; text-decoration: none; }

#footer .last ul li a span { padding-right: 11px; border-right: 1px solid white; }

#footer .last h6 { display: block; color: white; padding-left: 3px; }

.rightnav { position: relative; min-height: 919px; width: 30px; height: 100%; background: #4c4c4c; position: fixed; right: 0; top: 0; }

.rightnav #me, .rightnav #shou, .rightnav #zuji, .rightnav #rightkefu, .rightnav #righterweima, .rightnav #bcar { color: white; width: 80px; height: 30px; background: #4c4c4c; position: absolute; left: -100px; line-height: 30px; text-align: center; opacity: 0; z-index: 4; }

.rightnav #me i, .rightnav #shou i, .rightnav #zuji i, .rightnav #rightkefu i, .rightnav #righterweima i, .rightnav #bcar i { position: absolute; right: -10px; color: #4c4c4c; }

.rightnav #me { bottom: 710px; }

.rightnav #shou { bottom: 480px; }

.rightnav #zuji { bottom: 430px; }

.rightnav #rightkefu { bottom: 300px; }

.rightnav #righterweima { bottom: 250px; width: 100px; height: 100px; left: -140px; }

.rightnav #bcar { width: 230px; height: 919px; background: white; z-index: 5px; left: -230px; z-index: 3; box-shadow: -5px 0 5px #ccc; opacity: 1; display: none; }

.rightnav #bcar h4 { border-bottom: 1px solid #ddd; height: 41px; line-height: 41px; text-align: left; padding-left: 20px; font-size: 14px; display: block; }

.rightnav #bcar h4 span:nth-child(1) { color: black; display: block; width: 45px; height: 40px; float: left; }

.rightnav #bcar h4 span:nth-child(2) { color: black; display: block; border: 1px solid #222; width: 20px; height: 20px; border-radius: 50%; line-height: 20px; text-align: center; float: left; margin: 10px 0 10px 128px; }

.rightnav #bcar h4 span:nth-child(2):hover { cursor: pointer; }

.rightnav #bcar .text { color: #222; padding: 20px 10px; }

.rightnav p { display: block; width: 30px; text-align: center; }

.rightnav p:hover { background: #E93B78; }

.rightnav p a { color: white; text-decoration: none; }

.rightnav p a i { color: #c69a62; font-size: 16px; }

.rightnav .me { position: absolute; bottom: 710px; }

.rightnav .me h5 { display: block; color: white; }

.rightnav .bcar { bottom: 530px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 8px  0 8px 0; position: absolute; }

.rightnav .bcar:hover { cursor: pointer; }

.rightnav .bcar i { color: #c69a62; font-size: 16px; }

.rightnav .bcar span { color: white; font-size: 12px; }

.rightnav .bcar span b { color: white; display: inline-block; width: 18px; height: 26px; background: #ec3e7d; line-height: 26px; border-radius: 10px; font-size: 13px; }

.rightnav .shou { position: absolute; bottom: 490px; }

.rightnav .zuji { position: absolute; bottom: 430px; }

.rightnav .rightkefu { position: absolute; bottom: 300px; }

.rightnav .righterweima { position: absolute; bottom: 250px; }

.rightnav .backTop { position: absolute; bottom: 200px; }

.rightnav .backTop i { color: #c69a62; font-size: 24px; }

.rightnav .backTop:hover { cursor: pointer; background: #4c4c4c; }

.lnav { width: 100px; background: white; position: absolute; top: 87px; left: -110px; }

.lnav ul li { padding-left: 20px; height: 55px; width: 100px; border: 1px solid white; }

.lnav ul li:hover { background: #e93b78; cursor: pointer; }

.lnav ul li:hover span { color: white; }

.lnav ul li:hover i { color: white; }

.lnav ul li a { height: 55px; text-align: center; line-height: 55px; color: #222; text-decoration: none; }

.lnav ul li a span { padding-left: 7px; }

.fixed { width: 100px; background: white; left: 50px; position: fixed; z-index: 10; }

.fixed ul li { padding-left: 20px; height: 55px; width: 100px; }

.fixed ul li a { display: block; height: 55px; text-align: center; line-height: 55px; color: #222; text-decoration: none; }

.fixed ul li a span { padding-left: 7px; }

.bianse { background: #e93b78; }

.bianse span { color: white; }

.bianse i { color: white; }
